<launch>
  <!--Your slam node-->
  <include file="$(find explore_k)/launch/include/gmapping.launch.xml"/>

  <!-- Move base -->
 <include file="$(find explore_k)/launch/include/move_base.launch.xml"/>
 
 <node name="rviz" pkg="rviz" type="rviz" args="-d $(find explore_k)/rviz/explore_view.rviz"/>
 
</launch>
